<div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">1. Orkuiðnaður</h3>
          <span class="pull-right clickable panel-collapsed"><i class="glyphicon glyphicon-chevron-up"></i></span>
        </div>
        <div class="panel-body">
          <li>1.1.  Brennslustöðvar með meiri nafnhitaafköst en 50 MW.</li>
          <li>1.2.  Jarðolíu- og gashreinsunarstöðvar.</li>
          <li>1.3.  Koksverksmiðjur.</li>
          <li>1.4.  Iðjuver þar sem kolagösun og þétting fer fram.</li>
        </div>
</div>

<div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">2. Framleiðsla og vinnsla málma</h3>
          <span class="pull-right clickable panel-collapsed"><i class="glyphicon glyphicon-chevron-up"></i></span>
        </div>
        <div class="panel-body">
         <li> 2.1.  Álframleiðsla.</li>
          <li>2.2.  Kísiljárnframleiðsla.</li>
          <li>2.3.  Kísilmálmframleiðsla.</li>
          <li>2.4.  Kísil- og kísilgúrframleiðsla.</li>
          <li>2.5.  Járn- og stálframleiðsla.</li>
          <li>2.6.  Sinkframleiðsla.</li>
          <li>2.7.  Framleiðsla á magnesíum og efnasamböndum sem innihalda magnesíum.</li>
        </div>
</div>

<div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">3.  Jarðefnaiðnaður</h3>
          <span class="pull-right clickable panel-collapsed"><i class="glyphicon glyphicon-chevron-up"></i></span>
        </div>
        <div class="panel-body">
          <li>3.1.  Sements- og kalkframleiðsla.</li>
          <li>3.2.  Stöðvar þar sem vinnsla asbests og framleiðsla vara sem innihalda asbest fer fram.</li>
          <li>3.3.  Glerullarframleiðsla. Stöðvar þar sem framleiðsla glers, einnig glertrefja, fer fram og sem geta brætt meira en 20 tonn á dag.</li>
          <li>3.4.  Steinullarframleiðsla. Stöðvar þar sem bræðsla jarðefna, einnig steinullartrefja, fer fram og sem geta brætt meira en 20 tonn á dag.</li>
          <li>3.5.  Stöðvar þar sem framleiðsla leirvara fer fram með brennslu, einkum þakflísa, múrsteina, eldfastra múrsteina, flísa, leirmuna eða postulíns, sem geta framleitt meira en 75 tonn á dag og/eða rúmtak ofns er meira en 4 m³ og setþéttleiki hans er meiri en 300 kg/m³.</li>
        </div>
</div>

<div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">4.  Efnaiðnaður.</h3>
          <span class="pull-right clickable panel-collapsed"><i class="glyphicon glyphicon-chevron-up"></i></span>
        </div>
        <div class="panel-body">
          <li>4.1.  Efnaverksmiðjur sem framleiða lífræn grunnefni, svo sem:</li>
             <ol>a)  einföld vetniskolefni,</ol> 
              <ol>b)  vetniskolefni með súrefni, svo sem alkóhól, aldehýð, ketón, karboxýlsýrur, estera, asetöt, etera, peroxíð, epoxýresín,</ol> 
              <ol>c)  brennisteinsvetniskolefni,</ol> 
              <ol>d)  köfnunarefnisvetniskolefni, svo sem amín, amíð, nítursambönd, nítrósambönd eða nítratsambönd, nítríl, sýanöt, ísósýanöt,</ol> 
              <ol>e)  vetniskolefni með fosfór,</ol> 
              <ol>f)  halógenvetniskolefni,</ol> 
              <ol>g)  lífræn málmsambönd,</ol> 
              <ol>h)  plastefni,</ol> 
              <ol>i)  gervigúmmí,</ol> 
              <ol>j)  litarefni og dreifuliti,</ol> 
              <ol>k)  yfirborðsvirk efni.</ol> 
            <li>4.2.  Efnaverksmiðjur sem framleiða ólífræn grunnefni, svo sem:</li>
             <ol> a)  gös, svo sem ammóníak, klór eða vetnisklóríð, flúor eða vetnisflúoríð, koloxíð,             brennisteinssambönd, köfnunarefnisoxíð, vetni, brennisteinsdíoxíð, karbónýlklóríð,</ol>
              <ol>b)  sýrur, svo sem krómsýru, flúorsýru, fosfórsýru, saltpéturssýru, saltsýru, brennisteinssýru, óleum, brennisteinstvísýrling,</ol>
              <ol>c)  basa, svo sem ammóníumhýdroxíð, kalíumhýdroxíð, natríumhýdroxíð,</ol>
              <ol>d)  sölt, svo sem ammóníumklóríð, kalíumklórat, kalíumkarbónat, natríumkarbónat, perbórat, silfurnítrat,</ol>
              <ol>e)  málmleysingja, málmoxíð eða önnur ólífræn sambönd, svo sem kalsíumkarbíð, kísil, kísilkarbíð.</ol>
            <li>4.3.  Áburðarframleiðsla. Efnaverksmiðjur sem framleiða áburð sem inniheldur fosfór, köfnunarefni eða kalíum (einnig áburðarblöndur).</li>
            <li>4.4.  Efnaverksmiðjur sem framleiða grunnvörur fyrir plöntuheilbrigði og sæfiefni.</li>
            <li>4.5.  Stöðvar þar sem notaðar eru efnafræðilegar og líffræðilegar aðferðir við framleiðslu grunnlyfjavara.</li>
            <li>4.6.  Efnaverksmiðjur sem framleiða sprengiefni.</li>
            <li>4.7.  Kítín- og kítosanframleiðsla.</li>
            <li>4.8.  Lím- og málningarvöruframleiðsla.</li>
        </div>
</div>



<div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">5. Úrgangsstarfsemi</h3>
          <span class="pull-right clickable panel-collapsed"><i class="glyphicon glyphicon-chevron-up"></i></span>
        </div>
        <div class="panel-body">
          <li>5.1.  Stöðvar fyrir meðhöndlun, förgun eða endurnýtingu spilliefna.</li>
          <li>5.2.  Stöðvar fyrir sorpbrennslu sem geta afkastað meira en 3 tonnum á klukkustund.</li>
          <li>5.3.  Stöðvar fyrir förgun úrgangs annars en spilliefna sem geta afkastað meira en 50 tonnum á dag.</li>
          <li>5.4.  Urðunarstaðir sem taka við meira en 10 tonnum á dag eða geta afkastað meira í heild en 25.000 tonnum af óvirkum úrgangi.</li>
        </div>
</div>


<div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">6.  Önnur starfsemi</h3>
          <span class="pull-right clickable panel-collapsed"><i class="glyphicon glyphicon-chevron-up"></i></span>
        </div>
        <div class="panel-body">
         <li> 6.1.  Pappírs- og trjákvoðuframleiðsla. Iðjuver sem framleiða:</li>
            <ol>a)  deig úr viði eða önnur trefjaefni,</ol>
            <ol>b)  pappír og pappa og geta framleitt meira en 20 tonn á dag.</ol>
          <li>6.2.  Stöðvar þar sem fram fer formeðferð eða litun trefja eða textílefna og vinnslugeta er meiri en 10 tonn á dag.</li>
          <li>6.3.  Sútunarverksmiðjur. Stöðvar þar sem fram fer sútun á húðum og skinnum og vinnslugeta er meiri en 12 tonn af fullunninni vöru á dag.</li>
         <li> 6.4.  Matvælavinnsla:</li>
            <ol>a)  Sláturhús sem geta framleitt meira en 50 tonn af skrokkum á dag.</ol>
            
              <ol>b)  Meðferð og vinnsla fyrir matvælaframleiðslu úr:
                      <li class="small"> - hráefnum af dýrum, öðrum en mjólk, þar sem hægt er að framleiða meira en 75 tonn af fullunninni vöru á dag,</li>
                      <li class="small"> - hráefnum af jurtum þar sem hægt er að framleiða að meðaltali meira en 300 tonn af fullunninni vöru á dag.</li>
                      </ol>

                 <ol> c)  Meðferð og vinnsla mjólkur, tekið er á móti meira en 200 tonnum af mjólk á dag miðað við meðaltal á ársgrundvelli. </ol>   

                <li> 6.5. Stöðvar þar sem förgun eða endurvinnsla skrokka og úrgangs af dýrum fer fram og afkastageta er meiri en 10 tonn á dag.</li>
                <li> 6.6.  Stöðvar þar sem þauleldi alifugla eða svína fer fram með fleiri en:</li>
                    
                      <ol>a)  40.000 stæði fyrir alifugla, </ol>
                      <ol>b)  2.000 stæði fyrir alisvín yfir 30 kg eða </ol>
                      <ol>c)  750 stæði fyrir gyltur. </ol>
                      
                <li>6.7.  Stöðvar þar sem fram fer yfirborðsmeðferð efna, hluta eða afurða með lífrænum leysiefnum, einkum pressun, prentun, húðun, fituhreinsun, vatnsþétting, meðhöndlun eða þakning með límvatni, málun, hreinsun eða gegndreyping og meira en 150 kg eru notuð á klukkustund eða meira en 200 tonn á ári.</li>
                <li>6.8.  Stöðvar þar sem fram fer framleiðsla kolefna eða rafgrafíts með brennslu eða umbreytingu í grafít.</li>
                <li>6.9.  Fiskimjölsverksmiðjur með meiri framleiðsluafköst en 400 tonn á sólarhring.</li>
                <li>6.10. Eldi sjávar- og ferskvatnslífvera þar sem ársframleiðsla er meiri en 200 tonn og fráveita til sjávar eða ársframleiðsla er meiri en 20 tonn og fráveita í ferskvatn.</li>
                <li>6.11. Olíumalar- og malbikunarstöðvar með fasta staðsetningu.</li>      

          </div>
</div>


<script type="text/javascript">
$(document).on('click', '.panel-heading span.clickable', function(e){
    var $this = $(this);
  if(!$this.hasClass('panel-collapsed')) {
    $this.parents('.panel').find('.panel-body').slideUp();
    $this.addClass('panel-collapsed');
    $this.find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
  } else {
    $this.parents('.panel').find('.panel-body').slideDown();
    $this.removeClass('panel-collapsed');
    $this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
  }
})
</script>